@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --home-background: #0F172A;
    --foreground: #0F172A;
    --profile-background: #0F172A; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.home-bg {
  background: var(--home-background);
}

.profile-bg {
  background: var(--background);
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.6); 
  border-radius: 6px;
  border: 3px solid transparent; 
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.8); 
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(150, 150, 150, 0.6) transparent;
}


