@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --home-background: #0F172A;
    --foreground: #0F172A;
    --profile-background: #ededed; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.home-bg {
  background: var(--home-background);
}

.profile-bg {
  background: var(--background);
}

/* Scrollbar visible en navegadores basados en WebKit (Chrome, Edge, Opera, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scroll */
}

::-webkit-scrollbar-track {
  background: transparent; /* Fondo del track (espacio por donde se mueve el thumb) */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.6); /* Gris translúcido */
  border-radius: 6px;
  border: 3px solid transparent; /* Espacio alrededor del thumb para que se vea más suave */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.8); /* Gris más visible al hacer hover */
}

/* Scrollbar en Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(150, 150, 150, 0.6) transparent;
}
