@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --home-background: #0F172A;
    --foreground: #0F172A;
    --profile-background: #ededed; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fondo exclusivo para la Home */
.home-bg {
  background: var(--home-background);
}

/* Fondo para el resto de las páginas */
.profile-bg {
  background: var(--background);
}


